[Canvas]
canvas_instance = enter.in.canvas.instance
client_id = enter.in.client.id.from.developer.key
client_secret = enter.in.client.secret.from.developer.key
redirect_uri = enter.in.redirect_uri.from.developer.key

[App]
key = enter.in.secret.for.session.security

[Logging]
time_format = [%%Y-%%b-%%d %%H:%%M:%%S]
log_file_location = /var/log/polymoss/app.log

[Database]
path = /path/to/database/file

