doctype 5
html
  include header
  main
    .navbar-fixed.red.lighten-1
      nav
        .nav-wrapper
          a(href="/")
            .brand-logo.center PolyMOSS
    .container
      block content
  include footer
