doctype 5
html
  include header
  main
    .navbar-fixed
      nav.teal.lighten-1
        .nav-wrapper
          a(href="/")
            .brand-logo.center PolyMOSS
    .container
      block content
  include footer
