extends base
block content
  .row
    .col.s12.m12.l12.center-align
      h3 Canvas Error
      p Looks like an error message has been returned from Canvas. Please either try to #[a(href="/") log in again], or if you feel that the error has been incorrectly returned, please send an #[a(href="mailto:supercomputerlab@floridapoly.edu") email to the webmaster]. Thank you.
