footer.page-footer.teal.lighten-2
  .container.center-align
    p.white-text Need help? Reach out to #[a(href="mailto:supercomputerlab@floridapoly.edu") the web admin]
  .footer-copyright.teal.lighten-1
    .container
      p &copy; Copyright 2018
