extends base
block content
  .row
    .col.s12.m12.l12.center-align
      i.large.material-icons account_box
      h3 How to use this service
    .col.s12.m12.l12
      ul
        li Step 1: Register for the Moss service online. Follow the instructions on their website: #[a(href="http://theory.stanford.edu/~aiken/moss/") Link]
        li Step 2: In your confirmation email from the Moss service, there will be a variable in the Perl script they send called #[b $userid]. Take that userid number value and copy it.
        li Step 3: Click on the Get Started button below. It will take you to the Canvas website website, where you will need to sign into the application and approve the PolyMOSS application for access.
        li Step 4: On the next page, enter in the userid code from step 2 in the input field, and select the course and assignment you would like to submit for checking.
        li Step 5: A link will be displayed once the Moss system returns its report.
    .col.s12.m12.l12.center-align
      a.waves-effect.waves-light.btn(href="{{ link }}") Get Started!
