.card-panel.teal
  p.white-text Number of submissions received: #{submissions|length}
  label.white-text Input your Moss User ID:
    input.black-text#moss_id(type="text-input")
  br
  br
  a.btn.waves-effect.waves-light.red#moss_submit_btn(onclick="submitToMoss( #{submissions.course_id} , #{submissions.assignment_id} );") Submit to Moss
  #moss_response
